.section#new_registration
  %h1.subheader#reg_banner
    Bonsai
  %h4.subheader#reg_sub_header
    Sign up for an account below.
  #reg_image
    =image_tag 'bonsai1.jpg'
  #reg_form
    =render 'devise/registrations/form'