%h2.subheader#about_header
  About

%p 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, hic autem maxime in. Doloremque, voluptatum, dolorum, ex atque culpa necessitatibus esse nulla aperiam enim consectetur architecto nihil quae. Dolore, alias.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, iusto, hic asperiores possimus quasi labore consequuntur blanditiis saepe incidunt ratione sit culpa quas voluptatem dolore repellendus rem accusantium itaque quisquam.
%p 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, sint, quo, maxime voluptatibus dolore dolorem quidem recusandae doloribus suscipit consequuntur maiores facere distinctio similique dolorum officiis laboriosam odio iusto consectetur!
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, animi, sunt ab commodi repellat delectus numquam deserunt illum quis optio veritatis quos. Natus, aperiam modi provident reprehenderit eaque doloremque quae.