.section
  .landing_header
    %h1.subheader#landing_title
      Welcome to Bonsai 
    %h3.subheader
      Your daily cause for pause.
    %p#slug_description
      Let's face it - we all lead busy lives. Bonsai is a service that delivers an SMS daily with a question or comment intended to give you reason to stop and reflect for a moment or three.

  #landing_image
    =image_tag 'bonsai1.jpg'



  #info_prompt
    %p 
      Just need a little bit of info from you first... 
  

  #landing_form
    =render 'text_messages/form', locale: {text_message: TextMessage.new}

  
