%h1 Listing text_messages

%table
  %tr
    %th
    %th
    %th

  - @text_messages.each do |text_message|
    %tr
      %td= link_to 'Show', text_message
      %td= link_to 'Edit', edit_text_message_path(text_message)
      %td= link_to 'Destroy', text_message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Text message', new_text_message_path
