.container
  .landing_header
    %h2.subheader#landing_title
      Bonsai 
    %h3.subheader
      A question for reflection, delivered daily via SMS.

  #landing_image
    =image_tag 'bonsai1.jpg'
    
  #landing_form
    =render 'form'

  / #disclaimer
  /   %p
  /     Some cool disclaimer text
