.container
  .landing_header
    %h1.subheader#landing_title
      Bonsai 
    %h3.subheader
      Your daily cause for pause.
    %p#slug_description
      Let's face it - we all lead busy lives. Bonsai is a service that delivers an SMS daily with a question or comment intended to give you reason to stop and reflect for a moment or three.

  #landing_image
    =image_tag 'bonsai1.jpg'

  / %h5.subheader#example_texts
  /   %u Points to ponder for the day:
  /   %ul
  /     %li What do I want to get accomplished?
  /     %li Who should I catch up with?
  /     %li Did I meditate for twenty minutes?

  #info_prompt
    %p 
      Just need a little bit of info from you first... 
  #landing_form
    =render 'form'

  / #disclaimer
  /   %p
  /     Some cool disclaimer text
