// flash message/notice/error styling
$light_blue: #3672f5; 

.flash.success {
  background: #2DAD2F;
  color: #D9D9D9;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 24%;
  width: 50%;

  p {
    text-align: center;
  }
}

.flash.notice {
  background: $light_blue;
  color: #D9D9D9;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 24%;
  width: 50%;

  p {
    text-align: center;
  }
}

.flash.error {
  background: #c60f13;
  color: #D9D9D9;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 24%;
  width: 50%;

  p {
    text-align: center;
  }
}

.close {
  float: left;
  margin-left: 0.5%;
  margin-top: -0.5%;
  cursor: pointer;
}

.error.medium.input-text.error {
  width: 30%;
  margin: auto;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.alert-box.success {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

.alert-box.alert {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
