$light_blue: #3672f5; 

.footer {
  position: fixed;
  bottom: 2%;
  left: 47%;
  margin: auto;
  text-align: center;
  font-size: 14px;
  
  #disclaimer {
    background: $light_blue;
    height: 200px;
    margin-right: 20%;
  }
}