// miscellaneous global styling

// fb & twitter shit

.fb-like { 
  top: 10;
  left: 20;
}

.twitter-share-button {
  position: absolute;
  left: 105;
  top: 10;
}

.button {
  border-style: none;
}

.footer {
  position: absolute;
  bottom: 10;
  right: 15;
  color: white;

  a {
    color: gray;
  }

  p {
    float: right;
    right: 10;
    margin-bottom: 0;
  }

  span {
    margin-bottom: 0;
  }
}



