// all styling for anything text message related

$light_blue: #3672f5;

// /new

#landing_header {
  text-align: center;
  margin-bottom: 3%;

  #landing_title {
    line-height: .5;
  }
}

#slug_description {
  margin-top: 8.25%;
  margin-left: 7%;
  width: 35%;
  float: left;
}

#current_text_info {
  padding-top: 2%;
  padding-left: 2%;

  span {
    font-weight: bold;
  }
}

#landing_image {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32%;
  }
}

#text_limit {
  width: 50%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  border-color: $light_blue;
  width: 520px;

  #text_limit_message {
    padding-top: 3%;
    padding-right: 2%;
    padding-left: 2%;
  }
}

#disclaimer {
  height: 780px;
  width: 100%;
  font-size: 20px;
  background-color: lighten($light_blue, 10%);
  color: white;
  // margin-top: 10%;
  padding-left: 13%;
  padding-right: 13%;

  a {
    color: #BFBFBF;
  }

  ul {
    text-decoration: none;
    padding-left: 5%;
    // padding-top: 2%;

    .disclaimer_header {
      font-size: 22px;
      color: lighten(gray, 30%);
      padding-top: 1%;
    }

    .disclaimer_content {
      font-size: 18px;
      color: lighten(gray, 37%)
    }
  }

  li {
    list-style-type: none;
    padding-right: 10%;

  }

  blockquote {
    text-align: center;
    color: white;
    border-left: 0;
    padding-top: 4%;
    padding-bottom: 1%;
  }

  #quote {
    color: #e6e6e6;
  }

  #disclaimer_content_column_float_left {
    float: left;
    
    ul {
      width: 50%;  
    }
  }

  #disclaimer_image_float_right {
    float: right;
    margin-top: -21%;
    padding-right: 20%;
  }

  #disclaimer_content_column_float_right {
    
    ul {
      padding-top: 3.5%;
      float: right;
      width: 50%;   
    }
  }

  #disclaimer_image_float_left {
    float: left;
    padding-left: 19%;
    padding-top: 7.5%
  }
}

// Sign-up Form Styles - New Text Message

#info_prompt {
  // margin-top: 3%;
  // text-align: center;
}

#text_message_text_body {
  width: 100%;
}

#text_message_send_time {
  width: 100%;
}

#text_message_phone_number {
  width: 100%;
}

#landing_form {
  text-align: center;
  float: right;
  margin-top: 2%;
  margin-right: 10%;

  p {
  	text-align: center;
  }

  input {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin-top: 2%;
  }

  label {
    margin-bottom: -1%;
    color: #6f6f6f;
  }

  small {
    margin-bottom: 1%;
  }
}





