// Place all the styles related to the text_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// new

.landing_header {
  text-align: center;
  margin-top: 3%;
}

#landing_title {
  line-height: .5;
}

#landing_image {
  margin-top: 5%;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#slug {
  width: 450px;
}
// #example_texts{
//   text-align: left;
//   margin-left: 36%;

//   ul {
//     list-style-type: none;
//   }

// }

#info_prompt {
  margin-top: 3%;
  text-align: center;
}

#text_message_text_body {
  width: 30%;
}

#text_message_send_time {
  width: 30%;
}

#text_message_phone_number {
  width: 30%;
}

#disclaimer {
  position: absolute;
  bottom: 0;
}

#landing_form {
  
  // margin: auto;
  text-align: center;

  input {
    text-align: center;
    display: inline-block;

  }
}