// Place all the styles related to the text_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// new (landing page)



//Main Section

.landing_header {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  position: relative;
}

#landing_title {
  line-height: .5;
}

#landing_image {
  margin-top: 5%;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
}

#slug_description {
  position: absolute;
  margin: auto;
  width: 50%;
}




// Sign-up Form Styles


#info_prompt {
  margin-top: 3%;
  text-align: center;
}

#text_message_text_body {
  width: 30%;
}

#text_message_send_time {
  width: 30%;
}

#text_message_phone_number {
  width: 30%;
}

#disclaimer {
  position: absolute;
  bottom: 0;
}

#landing_form {
  
  // margin: auto;
  text-align: center;

  input {
    text-align: center;
    display: inline-block;

  }
}